html {
    font-family: 'Oswald', serif;
    width: auto
    

    }

.nav-brand {
    align-content: initial;
    text-align: left

}

.img-fluid {
      filter: brightness(60%);
}


